
h1{
  color: rgb(64, 154, 233);
  text-align-last: center;
  flood-opacity: 120%;
}
.qdisplay{
  padding: 0.7rem;
  
  background-image:repeating-linear-gradient(whitesmoke, grey);
  width:100%;
  border-radius: 10px;
  margin: 0.25rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
  
}
.quoted{
  color:black;
  align-content:center;

}
.btn{
  width: 25%;
  height: 100%;
  background-color: brown;
  size: 0.5rem;

}
.details{
  background-color: blue;
  color: white;
  text-align: center;
  height: 25px;
  width: 100px;
  border-radius: 10pt;
  float: right;
}