
h1{
  color: aliceblue;
  text-align-last: center;
  flood-opacity: 120%;
}
.qdisplay{
  padding: 0.7rem;
  text-align: center;
  background-image:repeating-linear-gradient(whitesmoke, grey);
  width:100%;
  border-radius: 10px;
  
}
.quoted{
  color:black;
  align-content:space-around;

}
.btn{
  width: 25%;
  height: 100%;
  background-color: brown;

}
.details{
  background-color: blue;
  color: white;
  text-align: center;
  height: 25px;
  width: 100px;
  border-radius: 10pt;
  float: right;
}